<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1> Hellogfgfg World! </h1>
    <a href="https://www.facebook.com">Facebook</a>
    <p class="one">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quas impedit eveniet, debitis autem ut fugit dolorum molestiae beatae, voluptatem alias sit soluta expedita quae animi? Consequuntur maxime sed at!
    Autem dolore commodi ullam sint magni reprehenderit voluptatibus beatae perferendis natus magnam, dolorum id ducimus quas optio, est ex quam voluptatum ratione sequi similique 
    vitae libero officia dignissimos? Minima, voluptatem!</p>
    <p class="two">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, obcaecati.
    </p>
    <div class="cotainer">
        <div class="s1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis neque nulla tenetur eius mollitia tempore?
        </div>
    </div>
    <div class="s2">
        Lorem ipsum dolor sit amet.
    </div>  
</body>
</html>