body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    height: 300px;
    width: 900px;
    border: 2px solid black;
    display: flex;
    /* text-align: inherit; */
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex-start; */
}

div {
    display: inline-block;
    height: 80px;
    width: 40px;
    border: 2px solid black;
}



/* .container {
    height: 300px;
    width: 800px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    left: 18%;
}

.container div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
} */


.box1 {
    background-color: aqua;
    flex-grow: 1;
}
.box2 {
    background-color: red;
    height: 200px;
    flex-grow: 2;
}
.box3 {
    background-color: green;
    height: 50px;
}
.box4 {
    background-color: blue;
}
.box5 {
    background-color: yellow;
}
