<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left_side">
            <div class="profileText">
                <div class="imgBx">
                    <img src="../static/image/Shamim.jpg" alt="">
                </div>
                <h2>Shamim Sarker <br><span style="text-transform: capitalize;">Jr. Software Engineer</span></h2>
            </div>

            <div class="contactInfo">
                <h3 class="title">Contact Info</h3>
                <ul>
                    <li>
                        <span class="icon"> <i class="fa fa-phone"></i> </span>
                        <span class="text">+88-01535707889</span>
                    </li>

                    <li>
                        <span class="icon"> <i class="fa fa-envelope"></i></span>
                        <span class="text">sarker.shamim@gmail.com</span>
                    </li>

                    <li>
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <span class="text">https://www.github.com/shamim7999</span>
                    </li>

                    <li>
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <span class="text">https://www.codeforces.com/shamim7999</span>
                    </li>

                    <li>
                        <span class="icon"> <i class="fa fa-map"></i></span>
                        <span class="text">Khilgaon, Dhaka-1219</span>
                    </li>
                </ul>
            </div>

            <div class="contactInfo education">
                <h3 class="title">Education</h3>
                <ul>
                    <li>
                        <h5>2018 - 2023</h5>
                        <h4>B.Sc in Computer Science & Engineering</h4>
                        <h4>Jagannath University</h4>
                    </li>
                    <li>
                        <h5>2015 - 2017</h5>
                        <h4>HSC from Science</h4>
                        <h4>Bangladesh Ideal College</h4>
                    </li>
                    <li>
                        <h5>2013 - 2015</h5>
                        <h4>SSC from Science</h4>    margin-right: 3px;

                        <h4>Khilgaon Govt. High School</h4>
                    </li>
                </ul>
            </div>

            <div class="contactInfo language">
                <h3 class="title">Languages</h3>
                <ul>
                    <li>
                        <span class="text">Bengali</span>
                        <span class="percent"></span>
                    </li>
                    <li>
                        <span class="text">English</span>
                        <span class="percent"></span>
                    </li>
                    <li>
                        <span class="text">Hindi</span>
                        <span class="percent"></span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="right_side">
            <div class="about">
                <h2 class="title2">Profile</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis sapiente minima voluptatibus quam, esse in? 
                    Libero dignissimos nulla culpa ducimus qui placeat eligendi beatae maiores, aliquid expedita temporibus id illum nemo facere corrupti vero, 
                    a reiciendis eaque minus eius laboriosam. Enim vero cum delectus voluptas assumenda. Velit ab cupiditate dolores a corporis amet fugit autem animi, 
                    officiis deserunt nulla explicabo.</p>
            </div>
            <div class="about">
                <h2 class="title2">Experience</h2>
                <div class="box">
                    <div class="year_company">
                        <h5>2023 - Present</h5>
                        <h5>Company Name</h5>
                    </div>
                    <div class="text">
                        <h4>Jr. Software Engineer</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit culpa cum id deleniti fugiat fugit! 
                            Deleniti similique ullam obcaecati doloremque sapiente iusto vel perspiciatis fuga, facere corporis, dolor adipisci.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="year_company">
                        <h5>2023 - Present</h5>
                        <h5>Company Name</h5>
                    </div>
                    <div class="text">
                        <h4>Jr. Software Engineer</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit culpa cum id deleniti fugiat fugit! 
                            Deleniti similique ullam obcaecati doloremque sapiente iusto vel perspiciatis fuga, facere corporis, dolor adipisci.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="year_company">
                        <h5>2023 - Present</h5>
                        <h5>Company Name</h5>
                    </div>
                    <div class="text">
                        <h4>Jr. Software Engineer</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit culpa cum id deleniti fugiat fugit! 
                            Deleniti similique ullam obcaecati doloremque sapiente iusto vel perspiciatis fuga, facere corporis, dolor adipisci.</p>
                    </div>
                </div>
            </div>
            <div class="about">
                <h2 class="title2">Professional Skills</h2>
                <div class="box">
                    <h4 style="color: rgb(31, 147, 185);">C/C++</h4>
                    <div class="percent"></div>
                </div>
                <div class="box">
                    <h4 style="color: rgb(31, 147, 185);">Java</h4>
                    <div class="percent"></div>
                </div>
                <div class="box">
                    <h4 style="color: rgb(31, 147, 185);">JavaEE</h4>
                    <div class="percent"></div>
                </div>
                <div class="box">
                    <h4 style="color: rgb(31, 147, 185);">Spring Boot</h4>
                    <div class="percent"></div>
                </div>
                <div class="box">
                    <h4 style="color: rgb(31, 147, 185);">HTML</h4>
                    <div class="percent"></div>
                </div>
            </div>
            <div class="about interest">
                <h2 class="title2">Interest</h2>
                <ul>
                    <li><i class="fa-solid fa-bowling-ball"></i>Cricket</li>
                    <li><i class="fa-solid fa-football"></i>Football</li>
                    <li><i class="fa-solid fa-feather"></i>Badminton</li>
                    <li><i class="fa-solid fa-car"></i>Travel</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>