<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left_side">
            <div class="profileText">
                <div class="imgBx">
                    <img src="../static/image/shavkat.jpg" alt="">
                </div>
                <h2>Shavkat Rakhmonov <br><span>UFC Middle Weight</span></h2>
            </div>

            <div class="contactInfo">
                <h3 class="title">Contact Info</h3>
                <ul>
                    <li>
                        <span class="icon"> <i class="fa fa-phone"></i> </span>
                        <span class="text">+88-01535707889</span>
                    </li>

                    <li>
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                        <span class="text">sarker.shamim@gmail.com</span>
                    </li>

                    <li>
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <span class="text">https://www.github.com/shamim7999</span>
                    </li>

                    <li>
                        <span class="icon"><i class="fa fa-globe"></i></span>
                        <span class="text">https://www.codeforces.com/shamim7999</span>
                    </li>

                    <li>
                        <span class="icon"><i class="fa fa-map"></i></span>
                        <span class="text">Khilgaon, Dhaka-1219</span>
                    </li>
                </ul>
            </div>

            <div class="contactInfo education">
                <h3 class="title">Education</h3>
                <ul>
                    <li>
                        <h5>2018 - 2023</h5>
                        <h4>B.Sc in Computer Science & Engineering</h4>
                        <h4>Jagannath University</h4>
                    </li>
                    <li>
                        <h5>2015 - 2017</h5>
                        <h4>HSC from Science</h4>
                        <h4>Bangladesh Ideal College</h4>
                    </li>
                </ul>
            </div>

        </div>
        <div class="right_side"></div>
    </div>
</body>
</html>