body, div {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #333;
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
}

.content a {
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    padding: 20px;
}

.content a:hover {
    background-color: gray;
    color: greenyellow;
    
}

.navbar2 {
    background: greenyellow;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

@media screen and (max-width: 900px){
    .navbar .content {
        flex-direction: column;
    }
    .navbar2 .content {
        flex-direction: column;
    }   
}