body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #333;
}

.content {
    padding: 10px;
    overflow: hidden;
}

ul li{
    list-style-type: none;
    padding: 10px 20px;
    float: left;
}

ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    display: inline-block;
}

.dropdown-content a{
    
}